:root{
    --Hover-Color:rgb(61, 118, 243);
    --Button-Color1:rgb(77, 150, 168);
    --Button-Color2: rgb(133, 95, 177);
    --Footer-Text-Color: rgb(250, 250, 250);
}  

*{
    margin: 0;
    padding: 0;
}
body{
    min-width: 375px;
    min-height: 2215px;
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}
h1{
    font-size: 40px;
    line-height: 44px;
    text-transform: capitalize;
    padding: 0 40px 0 40px;
}
h1 span{
    text-transform: lowercase;
}
h2{
    font-size: 32px;
    line-height: 36px;
}
p{
    font-size: 16px;
    line-height: 26px;
    color: #87879D;
}
.Main-Content{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:6rem;
    margin: 0 auto;
    background-color:rgb(252, 252, 252);
}
.Logo{
    max-width: fit-content;
    margin-top: 60px; 
}

.Main-Section{
    width: 100%;
    height: 550px;
    position: relative;
}
.Hero{
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
}  
.Hero-Image-Right,.Hero-Image-Left{
    display: none;
}
.Hero-Image{
    max-width: 100%;
    
}
#Hero-Image-Hover::before, #Hero-Image-Hover::after{
    content: " ";
    height: 100%;
    width: calc(105% - 102.5%);
    background-color: rgb(245, 245, 245);
    position: absolute;
}
#Hero-Image-Hover::before{
    left: 0;
}
#Hero-Image-Hover::after{
    right: 0;
}
#Hero-Image-Hover{
    width: 105%;
    display: flex;
    justify-content: center;
    position: relative;
}
.Hero-Text{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.Hero-Text p{
    margin: 20px 0 20px 0;
}

button{
    width: 120px;
    height: 40px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 12px;
    font-weight: bold;
    border-radius: 40px;
    background-color: var(--Button-Color1);
    border: none;
    color: var(--Footer-Text-Color);
}
.Hero button span{
    color: rgb(143, 227, 249);
} 
.Second-Button{
    width: 80px;
    background-color: var(--Button-Color2);
    margin-left: 15px;
    margin: 0 auto;
}   

.Thermometer{
    width: 40px;
    height: 80px;
    display: grid;
    justify-content: center;
}
.Pin{
    width: 1px;
    height: 40px;
    background-color: rgba(40, 40, 61, 0.2);
    margin: 0 auto;
}
.Thermometer button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: rgb(40, 40, 61);
    background-color: rgb(245, 245, 245);
    border: 1px solid rgba(40, 40, 61, 0.2);
    margin: 0 auto;
}


.Meeting-Images{
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin: 0 auto;
    gap: 1rem;
}
.Meeting-Images img{ 
    max-width:100%;
    border-radius: 10px;
    object-fit: cover;
}

.Meeting-Text{
    max-width: 100%;
    text-align: center;
}
.Meeting-Text span, p{
    padding: 0 12px 0 12px;
    margin: 0 auto;
}   
.Meeting-Text h2{
    padding: 20px 10px 20px 10px;
}
.Meeting-Text span{
    color: rgb(77, 150, 168);
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 4px;
}

.Footer-Section{
    max-width: 100%;
    max-height: 500px;
    display: grid;
    align-content: center;
    margin-bottom: 10px;
}
.Footer-Section .Thermometer{
    margin: 0 auto;
    margin-bottom: -20px;
    z-index: 1;
}    
.Footer{
    max-width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    background-image: url("/assets/mobile/image-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 10%;
    position: relative;
}
.Footer-Text{
    max-width: 85%;
    max-height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    color: var(--Footer-Text-Color);
    margin-top: 40px;
    z-index: 1;
}
.Footer_Color_Overlay{
    width: 100%;
    height: 100%;
    background: rgba(77, 150, 168,0.9);
    position: absolute;
}
.Footer button{
    border-radius: 40px;
    background-color:  var(--Button-Color2);
    border: none;
    color: var(--Footer-Text-Color);
}
.Footer button span{
    color:rgba(250, 250, 250,0.7);
}
.Footer p{
    color: var(--Footer-Text-Color);
}

@media  screen and (min-width:768px){
    body{
        min-height: 2128px;
    }
    h1{
        font-size: 48px;
        line-height: 48px;
    }
    h2{
        font-size: 40px;
        line-height: 44px;
    }
    
    .Hero{
        gap: 4rem;
    }
    .Hero-Text{
        max-width: 60%;
        display: block;
    }
    
    .Hero button span{
        color: rgb(143, 227, 249);
    } 
    .Second-Button{
        margin-left: 10px;
    }

    .Meeting-Images{
        max-width: 80%;
        display: flex;
    }
    .Meeting-Images img{ 
        max-width:23.2%;
    }

    .Meeting-Text{
        max-width: 80%;
        margin: 0 auto;
    }
    .Meeting-Text p{
        margin: 0 -20px 0 -20px;
    }   
    .Meeting-Text h2{
        padding: 20px 60px 20px 60px;
    }
   
    .Footer{
        background-image: url("/assets/tablet/image-footer.jpg");
    }
    .Footer-Text{
        max-width: 85%;
    }
    .Footer-Text h2{
        padding: 0 60px 0 60px;
    }
    .Footer-Text p{
        font-size: 18px;
        line-height: 26px;
    }
   
}


@media  screen and (min-width:1440px){
    body{
        min-height: 1895px;
    }
    h1{
        font-size: 64px;
        line-height: 64px;
    }
    h2{
        font-size: 40px;
        line-height: 44px;
    }
    p{
        font-size: 18px;
        line-height: 26px;
    }
    .Main-Section{
        width: 105%;
        height: 370px;
    }
    .Main-Section::before, .Main-Section::after{
        content: " ";
        height: 100%;
        width: calc(105% - 102.5%);
        background-color: rgb(245, 245, 245);
        position: absolute;
        z-index: 1;
    }
    .Main-Section::before{
        left: 0;
    }
    .Main-Section::after{
        right: 0;
        top: 0%;
    }
    .Hero{
        flex-direction: row;
        gap: 2rem;
    }  
    .Hero-Image-Right,.Hero-Image-Left{
        max-width: 100%;
        display: block;
    }
    .Hero-Image-Right{
        padding-top: 70px;
    }
    .Hero-Image-Left{
        padding-bottom: 70px;
    }
    #Hero-Image-Hover{
        display: none;
    }
    .Hero-Text{
        max-width: 39%;
        display: block;
        padding-top: 60px;
        margin: 0 -10px 0 -10px;
    }
    .Hero-Text p{
        margin: 35px 0 35px 0;
    }
    .Hero-Text button:hover, .Footer-Text button:hover{
       opacity: 0.7;
       cursor: pointer;
    }  
    
    .Meeting-Images{
        max-width: 80%;
        display: flex;
    }
    .Meeting-Images img{ 
        max-width:24%;
    }

    .Meeting-Text{
        max-width: 40%;
    }
    .Meeting-Text  p{
        padding: 0 13px 0 13px;
        margin: 0 auto;
    }   
    .Meeting-Text h2{
        padding: 20px 40px 20px 40px;
    }

    .Footer{
        max-width: 100%;
        height: 400px;
        background-image: url("/assets/desktop/image-footer.jpg");
    }
    .Footer-Text{
        max-width: 80%;
        max-height: 60%;
        flex-direction: row;
    }
    .Footer p{
        width: 45%;
        text-align: left;
    }
    .Footer h2{
        text-align: left;
    }
    .Footer button{
        width: 200px;
    }
}

@media  screen and (min-height: 2603px){
    
    .Hero-Text button:hover, .Footer-Text button:hover{
        opacity: 1.0;
        cursor: none;
     } 
}
